@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins",sans-serif;
}

h3{
  font-weight: bold;
}

nav{
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0,0, 0, .5);
  padding:20px;
}

table tr{
  
}